*.pdf
Modulo 1/Unidad 4/
Modulo 1/Unidad 2/Practica/Material/dipper.jpg
Modulo 1/Unidad 2/Practica/Material/flor.jpg
Modulo 1/Unidad 2/Practica/Material/mabel.png
Modulo 2/Unidad 1/
Modulo 2/Unidad 2/Ejemplos/
Modulo 2/Unidad 2/Unidad 2.pdf
Modulo 2/Unidad 2/ejercicio01.JPG
Modulo 2/Unidad 2/ejercicio02.JPG
Modulo 2/Unidad 2/ejercicio03.JPG
Modulo 2/Unidad 3/Ejemplos/
Modulo 2/Unidad 3/Unidad 3.pdf
Modulo 2/Unidad 3/referencia_media.JPG
Modulo 2/Unidad 4/Unidad 4.pdf
Modulo 3/Unidad 1/
Modulo 3/Unidad 2/
Modulo 3/Unidad 3/Ejemplos/
Modulo 4/Unidad3/node_modules
Modulo 4/Unidad4/node_modules
Modulo 4/cabanas/public/robots.txt
Modulo 5/Unidad3/Practica/node_modules
Modulo 5/Unidad4/node_modules

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

ProyectoFinal/backend/.env
ProyectoFinal/backend/node_modules/

# dependencies
ProyectoFinal/frontend/node_modules
ProyectoFinal/frontend/.pnp
ProyectoFinal/frontend/.pnp.js

# testing
ProyectoFinal/frontend/coverage

# production

ProyectoFinal/frontend/build

# misc
ProyectoFinal/frontend/.DS_Store
ProyectoFinal/frontend/.env.local
ProyectoFinal/frontend/.env.development.local
ProyectoFinal/frontend/.env.test.local
ProyectoFinal/frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
