<h1>Administraci칩n</h1>
<nav>
    <ul>
        <li><a href="/admin/servicios">Modificar secci칩n Servicios</a></li>
        <li><a href="/admin/imagenes">Modificar secci칩n Nuestras caba침as (Imagenes)</a></li>
    </ul>
</nav>