<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar un servicio</h4>
            <form action="/admin/servicios/agregar" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo" required>
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Descripción" name="descripcion" required></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Icono (ej: fas fa-biking)" name="icono">
                </div>
                <button type="submit" class="btn btn-primary"> Agregar </button>
                <a href='/admin/servicios' title="Cancelar" class="btn btn-danger">Cancelar</a>
            </form>

        </div>
        {{#if error}}
            <h5>{{message}}</h5>
        {{/if}}
    </div>

</div>