* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
}
