<h1>Administración</h1>
<nav>
    <ul>
        <li><a href="/admin/servicios">Modificar sección Servicios</a></li>
        {{!-- <li data-aos="fade-right" data-aos-delay="250"><a href="/archivo" >Lista de alumnos desde archivos</a></li> --}}
    </ul>
</nav>