<div class = "container">
    <div class = "row">
        <div class="col-7">
            <h4>Listado de Servicios</h4>
        </div>
        <div class="col-5 text-end">
            <a class="btn btn-success" href=""><i class="fa fa-plus" aria-hidden="true"></i> Nuevo </a>
        </div>
    </div>

    <div class = "row">
        <div class = "col">
            <table class="table tabla">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>

                </thead>

            </table>

        </div>

    </div>
</div>