<div class="container">
    <h3>Nuestras cabañas</h3>
    
    <div class="col-xl-12 d-flex align-items-stretch">
        <div class="imagenes d-flex flex-column justify-content-center">
            <div class="row">
                {{#each imagenes}}
                    <div class="col-md-6" >
                        <img src="http://res.cloudinary.com/jvrelopez/image/upload/{{imagen_id}}" class="d-block w-100" alt="{{descripcion}}">    
                        <p>{{descripcion}} </p>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

</div>