<div id="servicios" class="container">
    <div class="row">
        <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
                <h3>Nuestros servicios</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                </p>
            </div>
        </div>
        <div class="col-xl-7 d-flex align-items-stretch">
            <div class="servicio d-flex flex-column justify-content-center">
                <div class="row">
                    {{#each servicios}}
                        <div class="col-md-6" >
                            <i class="{{icono}}"></i>
                            <h4>{{titulo}}</h4>
                            <p>{{descripcion}} </p>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>