<div id="alumnos">
  <table >
    <thead data-aos="zoom-out-up" data-aos-delay="100">
      <th>Nombre de alumno</th>
      <th>Nota</th>
    </thead>
    <tbody data-aos="zoom-out-up" data-aos-delay="500">
      {{#each alumnos}}
        <tr >
          <td >{{nombre}}</td>
          <td >{{nota}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>


  {{!-- <ul>
    {{#each alumnos}}
    <li>{{nombre}} {{nota}} </li>
    {{/each}}
  </ul> --}}
</div>

<a href="/" data-aos="fade-up" data-aos-delay="1000">Volver</a>