<h1 data-aos="fade-in">{{title}}</h1>
<nav>
    <ul>
        {{!-- <li><a href="/">Lista de alumnos</a></li> --}}
        <li data-aos="fade-right"><a href="/variable">Lista de alumnos desde variable</a></li>
        <li data-aos="fade-right" data-aos-delay="250"><a href="/archivo" >Lista de alumnos desde archivos</a></li>
    </ul>
</nav>
